@import './root.css';
.homepage{
  width:100vw;
  box-sizing:border-box;
  min-height: calc(100vh - 100px);
}
.boardgame{
  display:grid;
  grid-template-columns: repeat(1,1fr);
  gap:10px;
  place-items: center;
  box-sizing: border-box;
}
.resultSearch{
  margin-left:clamp(10px,5vw,30px);
  margin-bottom:10px;
  font-size:20px; 
}
.adminbtn{
  margin-top:20px;
  margin-bottom:20px;
}
.adminbtn > .btn{
  border:solid var(--blue-dark) 1px;
  padding:5px 10px;
  text-decoration:none;
  color:var(--font-color);
  background-color:var(--grey);
  border-radius:5px;
  margin-left:clamp(10px,10%,25px);
}
.adminbtn > .btn:hover{
  background-color:var(--blue-dark);
  color:var(--grey);
}
.box{
  border:solid 1px var(--blue-light);
  width:90vw;
  aspect-ratio: 16/3;
  border-radius: 10px;
  padding:2vw;
  box-sizing: border-box;
  display:grid;
  grid-template-areas:
    'name name name name'
    'price price price btn';
  color:var(--font-color);
  background-color:var(--grey);
  box-shadow: 0px 0px 10px var(--grey);
}
.boargameName{
  grid-area: name;
  display:grid;
  place-content: center;
  font-weight: 700;
}
.price{
  grid-area:price;
  display:flex;
  align-items:center;
}
.reserve{
  grid-area:btn;
  text-decoration:none;
  width:100%;
  border:solid var(--blue-light) 1px;
  display:grid;
  place-content: center;
  border-radius:10px;
  color:var(--blue-dark);
}
.reserve:hover{
  background-color: var(--blue-dark);
  color:var(--grey);
}
.pagination{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  gap:10px;
  margin-top:10px;
}
.pagination .pagBtnContainer{
  display: flex;
  flex-direction:row;
  gap:10px;
}
.pagination .currentPage{
  background-color:var(--blue-dark);
  width:30px;
  text-align: center;
  color:vaR(--grey);
}
.pagination button{
  border:var(--blue-dark) solid 2px;
  cursor:pointer;
  width:30px;
  color:var(--font-color);
}
@media (min-width: 750px){
  .homepage{
    min-height: calc(100vh - 110px);
  }
  .boardgame{
    grid-template-columns: repeat(2,1fr);
  }
  .box{
    width:45vw;
    aspect-ratio: 16/5;
  }
}

@media (min-width: 1280px){
  .boardgame{
    grid-template-columns: repeat(3,1fr);
  }
  .box{
    width:30vw;
    aspect-ratio: 16/5;
    max-width: 500px;
  }
}