  @import './root.css';

  nav{
    display:flex;
    flex-direction: column;
    position:fixed;
    margin-top:-40px;
    background-color: var(--grey-light);
    align-items: center;
  }
  /* nav bar that shown */
  .nav-show{
    display:flex;
    flex-direction: row;
    width:100vw;
    height: 40px;
    justify-content: space-between;
    align-items: center;
  } 
  .logo{
    width: 65px;
    margin-left:10px;
    margin-top:5px ;
  } 
  .logo img{
    height:35px;
  }
  .show{
    margin-right:10px;
  }
  /* hide other */
  .hidden{
    display:none;
  }
  /* style search bar */
  .searchbar{
    border-bottom: 1px solid black;
    width:80%;
    height: 25px;
    margin-left:10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    grid-template-columns: 8fr 1fr;
  }
  .search{
    border: none;
    background-color: var(--grey-light);
  }
  .btn{
    border:none;
    background-color:none;
  }
  .search:focus{
    outline: none;
  }
  /* style others in list */
  .list{
    width:100%;
    height: 25px;
    text-decoration: none;
    margin-bottom: 20px;
    box-shadow: 0px 3px 3px 0px rgba(117, 117, 117, 0.2);       
    text-align:center;  
    display:flex;
    justify-content: center;  
    align-items: center;
    color:rgb(86, 86, 86);
  }
  .icon{
    margin-right:4px;
  }
  .home{
    color:var(--blue-dark);
  }
  .profile{
    color:var(--blue-dark);
  }
  .contact{
    color:var(--blue-dark);
  }
  .logout{
    width:80%;
    height: 25px;
    margin-left:10px;
    margin-bottom: 20px;
    border:solid 1px var(--blue-dark);
    border-radius:12.5px; 
    background-color:var(--grey); 
    box-shadow: none;
  }
  .cookie-container{
    position:absolute;
    bottom:10px;
    right:5%;
    border:solid 2px var(--font-color);
    border-radius:15px;
    background-color:var(--grey-light);
    width:90%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    box-sizing:border-box;
    text-align: center;
  }
  .cookie-container > p{
    margin-bottom: 5px;
    margin-top:1px;
    line-height: 17px;
  }
  .cookie-container > div{
    display: flex;
    gap:10px;
    justify-content: center;
  }
  .cookie-container button{
    border:none;
    padding:2px 20px;
    border-radius:5px;
    cursor:pointer;
  }
  .cookie-container .accept{
    background-color:var(--font-color);
    color:var(--grey);
  }
  .cookie-container .decline{
    background-color:var(--grey);
    color:var(--font-color);
  }
  @media (min-width: 750px) {
    nav{
      flex-direction: row;
      height: 60px;
      margin-top:-60px;
      width:100vw;
    }
    .nav-show{
      width:10vw;
      margin-left:3vw;
    }
    .logo{
      width: 75px;
    } 
    .logo img{
      height:45px ;
    }
    .searchbar{
      width:20vw;
      margin-left:34vw;
      margin-top:auto;
      margin-bottom:auto;
      grid-template-columns: 8fr 1fr;
    }

    .icon{
      display:none;
    }
    .list{
      width:100px;
      height: 60px;
      box-shadow: none;
      display:flex;
      align-items: center;
      width:10vw;
      margin-top:auto;
      margin-bottom:auto;
  }
  .list:hover{
    color:var(--blue-dark);
  }
  .logout{
    margin-right:3vw;
    height: 40px;
    margin-top:auto;
    margin-bottom:auto;
    cursor:pointer;
  }
  .logout:hover{
    background-color:var(--blue-dark);
    color:var(--grey);
  }
  .cookie-container{
    width:400px;
    right:20px;
  }
}
/* 
  @media (min-width: 1280px) {

  } */