@import './root.css';

.Reserve{
    display:flex;
    align-items: center;
    flex-direction:column;
    width:100vw;
    box-sizing:border-box;
}
.Reserve > h3{
    font-weight: 500;
}
.Reserve label{
    color:var(--blue-light);
}
.dropdown > select > option{
    padding-left:15px;
    height: 25px;
}
.dropdown select{
    display:inline-block;
    width:200px;
    height: 30px;
    border:solid var(--grey) 1px;
    margin-bottom:10px;
    border-radius: 5px;
    padding-left:10px;
}
.dropdown select:focus{
    outline:none;
    border:solid var(--blue-dark) 1px;
}
.reserve-btn{
    width:100px;
    height: 40px;
    border: 1px solid var(--grey);
    border-radius: 20px;
    color:var(--grey);
    background-color:var(--blue-dark);
    margin-left:70%;
    cursor:pointer;
}
.instruction{
    position:absolute;
    top:auto;
    right: auto;
    width:90%;
    border:1px solid var(--grey);
    height: 90vh;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-light);
}
.instruction img{
    width:340px;
}
.instruction button{
    position:absolute;
    top:0;
    right: 0;
}
.show-instruction{
    position:absolute;
    top:42px;
    right: 5px;
    border:none;
    background-color:rgba(0,0,0,0);
}
@media (min-width: 750px){
    .show-instruction{
        top:65px;
    }
}